version: '3.9'

services:
  yf-wrapper:
    build:
      context: https://github.com/jhigatzberger/yf-rest_wrapper.git
      dockerfile: Dockerfile
    container_name: yf-wrapper
    ports:
      - "5000:5000"
    restart: unless-stopped
  dashboard:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: dashboard
    ports:
      - "3000:3000"
    env_file:
      - .env
    depends_on:
      - yf-wrapper
      - migrate
      - pg-data
  pg-data:
    image: postgres:15
    container_name: pg-data
    restart: unless-stopped
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: mydb
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data
  migrate:
    build:
      context: .
      dockerfile: Dockerfile.migrate
    container_name: migrate
    working_dir: /app
    depends_on:
      - pg-data
    volumes:
      - ./:/app
    env_file:
      - .env


volumes:
  pgdata:
